* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:not(i) {
    font-family: "Poppins", sans-serif;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(33, 31, 31);
}

.main_header_div {
    width: 100%;
    background-color: var(--bg-light-blue);
    height: 123px;
}

/* PROMO HEADER */

.promo_nav_div {
    margin: 0;
    width: 100%;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    height: 24px;
    text-align: center;
    color: white;
    background-color: black;
}

.promo_nav_div p {
    color-scheme: white;
    padding: 0px;
}

/* TRADEMARK HEADER */

.shop_name_div {
    margin: 0;
    width: 100%;
    background-color: var(--bg-dark-blue-1);
    height: 40px;
}

.shop_name_div {
    padding-top: 1.5px;
    color: white;
    text-align: center;
}

/* NAVBAR_HEADER */

.main_navbar {
    width: 100%;
    background-color: var(--bg-dark-blue-1);
}

#navbarNav {
    background-color: var(--bg-dark-blue-1);

    justify-content: center;
}

#navbarNav ul li {
    padding: 0 15px
}

#navbarNav ul li a {
    color: white;
    justify-content: center;
    padding-right: 10px;
    font-size: 18px;
}

#navbarNav ul li a i {
    font-style: normal;
}



#navbarNav ul li a :hover {
    color: aqua;
}

.navbar-toggler {
    background-color: white;
    border: none;
    padding: 10px;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    float: right;
}



/* FRONTPAGE IMG */

.frontpage_image img {
    width: 100%;
    height: 100%;
}



.span_phone {
    height: 40px;
    width: 40px;

}

/* MAIN  */

.main_div {
    width: 100%;
    height: 5000px;
}
/* cpu section */

#cpu-parent-section{
    height: 1300px;
}

#cpu_parent-div {
    position: absolute;
    margin: 0px;
    width: 100%;
    height: 1300px;
    background-color: var(--bg-light-green-1);
}

#cpu_parent-div .cpu_grid-container {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 10px;
    gap: 10px;
    align-items: center;
    margin: 0;
}

#cpu_parent-div .cpu_grid-container .cpu_grid-containerA{
    padding-top: 0px;
    margin: 30px;
    width: 900px auto;
    height: 250px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#cpu_parent-div .cpu_grid-container .cpu_grid-containerA .cpu_grid-title-description {
    height: 200px;
    text-align: center;
    height: 100%;
    background-color: var(--bg-light-blue-5);
    border-radius: 10px;
    color: white;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

#cpu_parent-div .cpu_grid-container .cpu_grid-containerA .cpu_grid-title-description h2{
  margin: 0;  

  padding-bottom: 30px;
}

#cpu_parent-div .cpu_grid-container .cpu_grid-containerA .cpu_grid-title-description p{
    margin: 0;
    padding-bottom: 30px;
}

#cpu_parent-div .cpu_grid-container .cpu_grid-containerB {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    grid-area: auto;
    height: fit-content;
    padding: 10px;
    align-items: center;
    margin: 0;
}

#cpu_parent-div .cpu_grid-container .cpu_grid-containerA .cpu_grid-title-description #cpu_h2 {
    padding-top: 10px;
}

.cpu1 {
    margin-left: 50px;
    position: relative;
    height: 450px;
    width: 450px;
    border-radius: 40px;
}

.cpu2 {
    margin-left: 50px;
    position: relative;
    height: 450px;
    width: 450px;
    border-radius: 40px;

}
.cpu3 {
    margin-left: 50px;
    position: relative;
    height: 450px;
    width: 450px;
    border-radius: 40px;

}
.cpu4 {
    margin-left: 50px;
    position: relative;
    height: 450px;
    width: 450px;
    border-radius: 40px;

}
.cpu5 {
    margin-left: 50px;
    position: relative;
    height: 450px;
    width: 450px;
    border-radius: 40px;

}
.cpu6 {
    margin-left: 50px;
    position: relative;
    height: 450px;
    width: 450px;
    border-radius: 40px;

}
    

/* GPU SECTION */

#gpu-parent-section{
    height: 1100px;
}

#gpu_parent-div {
    position: absolute;
    margin: 0px;
    width: 100%;
    height: 1100px;
    background-color: var(--bg-light-green-1);
}

#gpu_parent-div .gpu_grid-container {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 10px;
    gap: 10px;
    align-items: center;
    margin: 0; }

    #gpu_parent-div .gpu_grid-container .gpu_grid-containerA{
        padding-top: 0px;
        margin: 30px;
        width: 900px auto;
        height: 250px;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    
    #gpu_parent-div .gpu_grid-container .gpu_grid-containerA .gpu_grid-title-description {
        height: 200px;
        text-align: center;
        height: 100%;
        background-color: var(--bg-light-blue-5);
        border-radius: 10px;
        color: white;
        padding-top: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    #gpu_parent-div .gpu_grid-container .gpu_grid-containerA .gpu_grid-title-description h2{
      margin: 0;  
      padding-bottom: 30px;
    }
    
    #gpu_parent-div .gpu_grid-container .gpu_grid-containerA .gpu_grid-title-description p{
        margin: 0;
        padding-bottom: 30px;
    }
    
    #gpu_parent-div .gpu_grid-container .gpu_grid-containerB {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        grid-area: auto;
        height: fit-content;
        padding: 10px;
        align-items: center;
        margin-left: 40px;
    }
    
    
    .gpu1 {
        position: relative;
        height: 360px;
        width: 500px;
        border-radius: 40px;
        
    }
    
    .gpu2 {
        position: relative;
        height: 360px;
        width: 500px;
        border-radius: 40px;
    
    }
    .gpu3 {
        position: relative;
        height: 360px;
        width: 500px;
        border-radius: 40px;
    
    }
    .gpu4 {
        position: relative;
        height: 360px;
        width: 500px;
        border-radius: 40px;
    
    }
    .gpu5 {
        position: relative;
        height: 360px;
        width: 500px;
        border-radius: 40px;
    
    }
    .gpu6 {
        position: relative;
        height: 360px;
        width: 500px;
        border-radius: 40px;
    
    }

    /* MOTHERBOARD */

    #motherboard-parent-section{
        height: 1100px;
    }
    
    #motherboard_parent-div {
        position: absolute;
        margin: 0px;
        width: 100%;
        height: 1100px;
        background-color: var(--bg-light-green-1);
    }
    
    #motherboard_parent-div .motherboard_grid-container {
        position: relative;
        height: 100%;
        width: 100%;
        padding: 10px;
        gap: 10px;
        align-items: center;
        margin: 0; }
    
        #motherboard_parent-div .motherboard_grid-container .motherboard_grid-containerA{
            padding-top: 0px;
            margin: 30px;
            width: 900px auto;
            height: 250px;
            justify-content: center;
            text-align: center;
            align-items: center;
        }
        
        #motherboard_parent-div .motherboard_grid-container .motherboard_grid-containerA .motherboard_grid-title-description {
            height: 200px;
            text-align: center;
            height: 100%;
            background-color: var(--bg-light-blue-5);
            border-radius: 10px;
            color: white;
            padding-top: 30px;
            padding-left: 20px;
            padding-right: 20px;
        }
        
        #motherboard_parent-div .motherboard_grid-container .motherboard_grid-containerA .motherboard_grid-title-description h2{
          margin: 0;  
          padding-bottom: 30px;
        }
        
        #motherboard_parent-div .motherboard_grid-container .motherboard_grid-containerA .motherboard_grid-title-description p{
            margin: 0;
            padding-bottom: 30px;
        }
        
        #motherboard_parent-div .motherboard_grid-container .motherboard_grid-containerB {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-area: auto;
            height: fit-content;
            padding: 10px;
            gap: 40px;
            align-items: center;
            margin-left: 60px;
        }
        
        
        .motherboard1 {
            position: relative;
            height: 360px;
            width: 500px;
            border-radius: 40px;
            
        }
        
        .motherboard2 {
            position: relative;
            height: 360px;
            width: 500px;
            border-radius: 40px;
        
        }
        .motherboard3 {
            position: relative;
            height: 360px;
            width: 500px;
            border-radius: 40px;
        
        }
        .motherboard4 {
            position: relative;
            height: 360px;
            width: 500px;
            border-radius: 40px;
        
        }
        .motherboard5 {
            position: relative;
            height: 360px;
            width: 500px;
            border-radius: 40px;
        
        }
        .motherboard6 {
            position: relative;
            height: 360px;
            width: 500px;
            border-radius: 40px;
        
        }

        /* MONITOR */
    
        #monitor-parent-section{
            height: 1100px;
        }
        
        #monitor_parent-div {
            position: absolute;
            margin: 0px;
            width: 100%;
            height: 1100px;
            background-color: var(--bg-light-green-1);
        }
        
        #monitor_parent-div .monitor_grid-container {
            position: relative;
            height: 100%;
            width: 100%;
            padding: 10px;
            gap: 10px;
            align-items: center;
            margin: 0; }
        
            #monitor_parent-div .monitor_grid-container .monitor_grid-containerA{
                padding-top: 0px;
                margin: 30px;
                width: 900px auto;
                height: 250px;
                justify-content: center;
                text-align: center;
                align-items: center;
            }
            
            #monitor_parent-div .monitor_grid-container .monitor_grid-containerA .monitor_grid-title-description {
                height: 200px;
                text-align: center;
                height: 100%;
                background-color: var(--bg-light-blue-5);
                border-radius: 10px;
                color: white;
                padding-top: 30px;
                padding-left: 20px;
                padding-right: 20px;
            }
            
            #monitor_parent-div .monitor_grid-container .monitor_grid-containerA .monitor_grid-title-description h2{
              margin: 0;  
              padding-bottom: 30px;
            }
            
            #monitor_parent-div .monitor_grid-container .monitor_grid-containerA .monitor_grid-title-description p{
                margin: 0;
                padding-bottom: 30px;
            }
            
            #monitor_parent-div .monitor_grid-container .monitor_grid-containerB {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-area: auto;
                height: fit-content;
                padding: 10px;
                gap: 40px;
                align-items: center;
                margin-left: 60px;
            }
            
            
            .monitor1 {
                position: relative;
                height: 360px;
                width: 500px;
                border-radius: 40px;
                
            }
            
            .monitor2 {
                position: relative;
                height: 360px;
                width: 500px;
                border-radius: 40px;
            
            }
            .monitor3 {
                position: relative;
                height: 360px;
                width: 500px;
                border-radius: 40px;
            
            }
            .monitor4 {
                position: relative;
                height: 360px;
                width: 500px;
                border-radius: 40px;
            
            }
            .monitor5 {
                position: relative;
                height: 360px;
                width: 500px;
                border-radius: 40px;
            
            }
            .monitor6 {
                position: relative;
                height: 360px;
                width: 500px;
                border-radius: 40px;
            
            }
        
        /* MOBILE PHONE */

    
        #mobile_phone-parent-section{
            height: 1200px;
        }
        
        #mobile_phone_parent-div {
            position: absolute;
            margin: 0px;
            width: 100%;
            height: 1200px;
            background-color: var(--bg-light-green-1);
        }
        
        #mobile_phone_parent-div .monitor_grid-container {
            position: relative;
            height: 100%;
            width: 100%;
            padding: 10px;
            gap: 10px;
            align-items: center;
            margin: 0; }
        
            #mobile_phone_parent-div .mobile_phone_grid-container .mobile_phone_grid-containerA{
                padding-top: 0px;
                margin: 30px;
                width: 900px auto;
                height: 250px;
                justify-content: center;
                text-align: center;
                align-items: center;
            }
            
            #mobile_phone_parent-div .mobile_phone_grid-container .mobile_phone_grid-containerA .mobile_phone_grid-title-description {
                height: 200px;
                text-align: center;
                height: 100%;
                background-color: var(--bg-light-blue-5);
                border-radius: 10px;
                color: white;
                padding-top: 30px;
                padding-left: 20px;
                padding-right: 20px;
            }
            
            #mobile_phone_parent-div .mobile_phone_grid-container .mobile_phone_grid-containerA .mobile_phone_grid-title-description h2{
              margin: 0;  
              padding-bottom: 30px;
            }
            
            #mobile_phone_parent-div .mobile_phone_grid-container .mobile_phone_grid-containerA .mobile_phone_grid-title-description p{
                margin: 0;
                padding-bottom: 30px;
            }
            
            #mobile_phone_parent-div .mobile_phone_grid-container .mobile_phone_grid-containerB {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-area: auto;
                height: fit-content;
                padding: 10px;
                gap: 40px;
                align-items: center;
                margin-left: 60px;
            }
            
            
            .mobile_phone1 {
                position: relative;
                height: 360px;
                width: 500px;
                border-radius: 40px;
                
            }
            
            .mobile_phone2 {
                position: relative;
                height: 360px;
                width: 500px;
                border-radius: 40px;
            
            }
            .mobile_phone3 {
                position: relative;
                height: 360px;
                width: 500px;
                border-radius: 40px;
            
            }

            .mobile_phone4 {
                position: relative;
                height: 360px;
                width: 500px;
                border-radius: 40px;
            }
            .mobile_phone5 {
                position: relative;
                height: 360px;
                width: 500px;
                border-radius: 40px;
            
            }
            .mobile_phone6 {
                position: relative;
                height: 360px;
                width: 500px;
                border-radius: 40px;
            
            }
/* .cpu_title {}

.cpu_title h2 {
    color: white;
    text-align: center;

}

.cpu_description {
    color: white;
    text-align: center;
}

.cpu_description p {
    color: white;
    text-align: center;
}

.best_cpu {}

.best_cpu h2 {
    color: white;
    text-align: center;
}

.img_cpu {}

.img_cpu img {} */

/* GPU SECTION */

/* .gpu_section {}

.gpu_title {}

.gpu_title h2 {
    color: white;
    text-align: center;

}

.gpu_description {
    color: white;
    text-align: center;
}

.gpu_description p {
    color: white;
    text-align: center;
}

.best_gpu {}

.best_gpu h2 {
    color: white;
    text-align: center;
}

.img_gpu {}

.img_gpu img {} */

/* MOTHERBOARD SECTION */

/* .motherboard_section {}

.motherboard_title {}

.motherboard_title h2 {
    color: white;
    text-align: center;
}

.motherboard_description {
    color: white;
    text-align: center;
}

.motherboard_description p {
    color: white;
    text-align: center;
}

.best_motherboard {}

.best_motherboard h2 {
    color: white;
    text-align: center;
}

.img_motherboard {}

.img_motherboard img {} */

/* MOBILE PHONE SECTION */

/* .mobile_phone_section {}

.mobile_phone_title {
    color: white;
    text-align: center;
}

.mobile_phone_title h2 {
    color: white;
    text-align: center;
}

.mobile_phone_description {
    color: white;
    text-align: center;
}

.mobile_phone_description p {
    color: white;
    text-align: center;
}

.best_mobile_phone {}

.best_mobile_phone h2 {
    color: white;
    text-align: center;
}

.img_mobile_phone {}

.img_mobile_phone img {} */

/* MONITOR SECTION */

/* .monitor_section {}

.monitor_title {
    color: white;
    text-align: center;
}

.monitor_title h2 {
    color: white;
    text-align: center;
}

.monitor_description {
    color: white;
    text-align: center;
}

.monitor_description p {
    color: white;
    text-align: center;
}

.best_monitor {}

.best_monitor h2 {
    color: white;
    text-align: center;
}

.img_monitor {}

.img_monitor img {}


footer {} */